In [1]:
tu=(23,'abc',4.56,(2,3),'def')

In [2]:
li=["abc",34,4.34,23]

In [8]:
st="Hello World"

In [9]:
st

'Hello World'

In [10]:
st='Hello World'

In [11]:
st

'Hello World'

In [12]:
st="""This is a multi-line string that uses trile quotes."""

In [13]:
st

'This is a multi-line string that uses trile quotes.'

In [14]:
tu=(23,'abc',4.56,(2,3),'def')

In [15]:
tu[1]

'abc'

In [16]:
li=["abc",34,4.34,23]

In [17]:
li[1]

34

In [18]:
st="Hello World"

In [19]:
st[1]

'e'

In [21]:
t=(23,'abc',4.56,(2,3),'def')

In [22]:
t[1]

'abc'

In [23]:
t[-3]

4.56

인덱스 0번째는 23 이라는 값이지만 역순으로, 'def'는 -1번째, (2,3)은 -2번째, 4.56은 -3번째가 된다.

In [24]:
t[1:4]

('abc', 4.56, (2, 3))

In [25]:
t[1:-1]

('abc', 4.56, (2, 3))

t[1:-1:2]

t[1:4]는 1번 인덱스부터 (4-1=3)번 인덱스까지 출력하며, t[1:-1]은 1번 인덱스부터 (-1-1=-2)번 인덱스까지 출력하고, t[1:-1:2]는 1번 인덱스부터 -2번 인덱스 까지 출력하는 대신, 2번씩 뛰며 출력한다.

In [27]:
t[:2]

(23, 'abc')

In [28]:
t[2:]

(4.56, (2, 3), 'def')

t[:N]은 0번부터 N-1번 인덱스까지 출력하며, t[N:]은 N번부터 끝 인덱스까지 출력한다.

In [29]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [32]:
list1=[1,2,3]

In [33]:
list2=list1

In [34]:
list2

[1, 2, 3]

In [35]:
list2=list1[:]

In [36]:
list2

[1, 2, 3]

In [37]:
t=[1,2,4,5]

In [38]:
3 in t

False

In [39]:
4 in t

True

In [40]:
4 not in t

False

In [41]:
a='abcdef'

In [42]:
'c' in a

True

In [43]:
'cd' in a

True

In [44]:
'ac' in a

False

In [45]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [46]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [47]:
"Hello"+" "+"World"

'Hello World'